/*
 * CSS Calendar
 * Tim Wright
 * Chris Coyier
 -----------------------------*/

*
{margin:0;padding:0;}
body {

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}
ol.calendar{
    width:82em;
    margin:0 auto;
    margin-bottom:40px;
    display:block;
    min-height: 200px;
    /*background: url(images/tl.png) top left no-repeat;*/
    padding: 12px 0 0 20px;}
li {
    list-style:none;
}
p.link{
    text-align:center;
    display: block;
}
h1{
    display: block;
    height:76px;
    margin: auto;
    color: #da2d7d;
    text-align: center;
}

/*
 * Day styles
 -------------------------*/
li li {
    width:11em;
    height:8em;
    float:left;
    margin:.2em;
    padding:.2em;
    background-color: rgba(243, 145, 197, 0.65);
    color: #da2d7d;
    border-bottom-right-radius: 10px;
}

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p {
    font-size:.85em;
    display:block;
    color: #da2d7d;
}
li li ol{
    width:auto;
}
li li ul li,
li li ol li {
    font-size:.7em;
    display:block;
    height:auto;
    width:auto;
    background: none;
    margin:0;
    padding:.2em 0;
    float:none;
}

/*
 * Holiday class
 -------------------------*/
li li.holiday       {  }

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li     {
    background: url(images/day-bg-inactive.png);
}


.lista-si li ul li{
    background: unset;
    display: block !important;
    color: #000;
    width: auto !important;
    height: auto !important;
    float: none !important;
}

.lista-si li{
    font-family: 'Raleway', sans-serif;
    margin: 20px 15px;
}
.head-h{
    background: url(../images/ejercicios-calendario.jpg);
    height: 400px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100% !important;
}
.lista-si{
    margin-top: 100px;
}
.numero-cal{
    color: #000;
    font-weight: bold;
    background: #fff;
    margin-top: 30px;
    padding: 10px 15px !important;
    border-radius: 10px 0px 10px 10px;
    -moz-border-radius: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 0px 10px 10px;

}

@media (max-width: 500px){
    ol.calendar{
        width: 100% !important;
        max-width: 400px !important;
    }

    #bs-example-navbar-collapse-1{
        background-color: pink !important;
    }

    #mainNav{
        height: 100px !important;
        max-width: 100% !important;
    }

    .pink-bar{
        height: 100px !important;
    }

    .logo-menu{
        height: 100px !important;
    }

    .memeo{
        width: 178% !important;
    }
    footer{
        width: 178% !important;
        margin-top: 518px !important;
    }

    li li {
        width: 45% !important;
    }

    li li p {
        font-size: 18px !important;
    }
    .navbar-toggle{
        font-size: 18px !important;
        color: #fff !important;
    }
    .carta{
        font-size: 25px !important;
    }

    p, li, a, button{
        font-size: 24px !important;
    }

    .btn{
        width: 90% !important;
        margin: 20px !important;
        margin-left: 30px !important;
    }

    .op-mob{
        width: 178% !important;
    }

    p span{
        font-size: 24px !important;
    }

    .ttl-padding{
        padding: 56px 100px !important;
    }

    .h-leccion{
        background-size: 100% !important;
        background-position: center center !important;
    }

    .head-calendar{
        background-size: 100% !important;
        margin-top: 100px !important;
        background-repeat: no-repeat !important;
        height: 200px !important;
    }
    .less-space-top{
        margin-top: -100px !important;
    }
}