body{
    font-family: 'Raleway', sans-serif !important;
}
nav{
    height: 100px;
}
.pink-bar{
    height: 100px;
    background-color: #DA2D7D;
    opacity: 0.8;
    color: #fff;
}
a.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.logo-menu{
    height: 100px;
}
.header-op{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}
.log-inp{
    margin-bottom: 30px;

    height: 50px;
}
footer{
    height: 70px;
    background-color: #DA2D7D;
    padding: 30px;
    color: #f6d5ec;
    width: 100%;
}
.alto-pag{
    height: calc(100vh - 70px);
}
.footer-cont{
    position: absolute;
    width: auto !important;
    left: 0;
    right: 0;
    height: auto !important;
}

.paola{
    width: 150px;
    height: auto;
    margin: 10px 40%;
    border-radius: 100%;
    padding: 3px;
    border: solid 2px #DA2D7D !important;
}
.modal-backdrop.in{
    background: pink;
    opacity: 0.6;
}
canvas{
    border-radius: 100%;
}
.sombra{
    -webkit-box-shadow: 0px 6px 36px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 36px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 36px -2px rgba(0,0,0,0.75);
}
.carta{
    padding: 20px 30px;
    background-image: url(../images/bienvenida.jpg);
    margin: 100px 40px;
    margin-top: 200px;
    text-align: justify;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}